<div class="splash-image site-contain">
    <div class="row">
        <div class="col">
            <h2 style="font-size:xxx-large; color: #CCC; padding-top: 75px; font-style:italic;">Explore our collection!</h2>
            <h3></h3>

            <div class="d-flex justify-content-end" style="width: 70%; margin-top: 80px;">
                <button class="btn btn-alpha"> Shop Now </button>
                <button class="btn btn-bravo mx-3"> Learn More </button>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>


<style>
    .btn{
        border: 1px solid #CCC;
        font-weight: bold;
        padding: 
    }
    .btn-alpha{
        color: #191919;
        background-color: #ccc;
    }
    .btn-bravo{
        color: #ccc;
    }
</style>